html,
body {
    background: #d5e1ef;
    height: 100%;
    margin: auto;
    padding: 85px 375px; 
    width: 100%;
}

.card-container {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
    border-radius: 20px;
    display: inline-block;
    padding: 16px;
    max-width: 310px;
    overflow: hidden;
}

.qr-container{
    background: #2f7dfa;
    border-radius: 15px;
    padding: 40px;
}

.card-container .qr-container img {
    max-width: 100%;
}

.card-container h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.card-container p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: gray
}

/* 1 {
    white-space: pre-line;
} esta opción permite generar saltos de linea dentro de un parrafo
pero debe evitarse ya que afecta al responsive */

/* Consejo = utilizar propiedades en orden alfabetico */